node_modules
.scannerwork
test/report.xml
*/coverage
*/**/coverage/lcov-report
*/**/coverage/clover.xml
*/**/coverage/coverage-final.json
*/**/coverage/lcov.info
*/**/coverage/junit/junit.xml
*/**/coverage/cobertura-coverage.xml
*/**/test/report.xml
.vscode